<header class="header">

<div class="header-wrap"> <div class="header-inner">

<a href="{{ '/index.html' | relative_url }}" class="header_title">돌아온 탕자</a>

</div>

<div class="header-category">

<a href="{{ '/writing.html' | relative_url }}"class="cate-title">지면</a>

<a href="{{ '/photo.html' | relative_url }}"  class="cate-title">필름</a>

<a href="{{ '/about/' | relative_url }}" class="cate-title">소개</a>

<button id="theme-toggle" class="theme-toggle-btn" aria-label="Toggle Dark Mode">
  <div class="toggle-slider"></div>
  <span class="icon light-icon">☀️</span>
  <span class="icon dark-icon">🌙</span>
</button>

</div>

</div>

</header>