<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"   content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/svg+xml" href="{{ '/favicon.svg' | relative_url }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@400;700&family=Noto+Sans+KR:wght@400;500&family=Orbit&display=swap" rel="stylesheet">
    {% seo %}
    <meta property="og:image" content="{{ page.image | default: site.image | prepend: site.url }}">
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/basiclightbox@5.0.4/dist/basicLightbox.min.css">
    <script src="https://cdn.jsdelivr.net/npm/basiclightbox@5.0.4/dist/basicLightbox.min.js"></script>
    <script type="module" src="{{ '/assets/js/main.js' | relative_url }}"></script>
    <script>
      (function() {
        var currentTheme = localStorage.getItem('theme') || 'light';
        document.documentElement.setAttribute('data-theme', currentTheme);
      })();
    </script>
</head>

<body>
    {% include header.html %} <main>
        {{ content }} </main>

    <script>
        document.querySelectorAll('.zoom-link').forEach(link => {
            link.onclick = (e) => {
            e.preventDefault(); // 페이지 이동 방지
            const imgUrl = link.getAttribute('href');
            
            // 클릭하면 큰 이미지를 띄우고, 그 이미지를 클릭하면 닫힘
            const instance = basicLightbox.create(`
                <img src="${imgUrl}" style="cursor: zoom-out;">
            `);
            
            instance.show();
            
            // 띄워진 이미지를 클릭했을 때 닫기
            instance.element().querySelector('img').onclick = () => instance.close();
            };
        });
    </script>
 </body>
</html>